.App {
  text-align: center;
  color: white;
  padding: 10rem;
  margin: 5rem 10rem 4rem 10rem;
  background: #006195;
  box-shadow: 0 0 25px rgb(0 0 0 / 79%)
}

@media (max-width: 768px) {
  .App {
    text-align: center;
    color: white;
    padding: 2rem;
    margin: 5rem 0 0rem 0;
    background: #006195;
    box-shadow: 0 0 25px rgb(0 0 0 / 79%)
  }
}